.product-list-container {
    display: grid;
    width: 100vw;
    gap: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(21vw, 1fr));
    margin: auto;
    padding-left: 6vw;
    padding-right: 6vw;
}

.item-card-container {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}