.profile-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
}

.profile-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 64%;
}

.form-profile-container {
    display: flex;
    width: 100%;
    flex-direction: row;

}

.form-profile-right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.form-profile-left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.profile-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.profile-form-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.profile-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.profile-form input[type="file"] {
    padding: 7px;
}

.profile-form span {
    color: red;
    font-size: 12px;
}

.profile-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-form button:hover {
    background-color: #2980b9;
}