.admin-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.admin-content {
    display: flex;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.sidebar {
    position: absolute;
    top: 94px;
    width: 250px;
    background-color: white;
    color: #FFFFFF;
    padding: 20px;
    height: 88vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: black;
    font-weight: bold;
}

.sidebar-header {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar-menu li:hover {
    color: #EA580C;
    background-color: #FFEDD5;
    border-radius: 8px;
}

.sidebar-menu .active {
    background-color: #FFEDD5;
    border-radius: 8px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFFFFF;
    height: 88vh;
    transition: margin-left 0.3s ease;
}

.sidebar-hidden .content {
    margin-left: 0;
    margin-top: 96px;
}

.sidebar-visible .content {
    margin-left: 250px;
    margin-top: 96px;
}

.sidebar-hidden .sidebar {
    display: none;
}