.transacciones {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 20px;
}

.product-selection {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que las flechas estén en los extremos */
  gap: 20px; /* Espacio entre la imagen y las flechas */
}

.titulo-container h2{
  font-size: 1.5rem; /* Tamaño grande del texto */
  font-weight: bold; /* Negrita */
  color: #333; /* Color del texto (puedes personalizarlo) */
  text-align: center; /* Centrar el texto horizontalmente */
  margin-bottom: 20px; /* Espaciado inferior */
  letter-spacing: 2px;
}

.product-selection img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow-btn {
  font-size: 24px;
  background-color: #f1c54a;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contexto {
  margin-top: 20px;
}

.product-price,
.boton-container-trac {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-name h3{
  margin: 0;
  text-align:var(#28a745);
}
.product-price p {
  font-size: 20px;
  margin: 5px 0;
  color: black;
}
.product-description{
  margin: 0;
}
.product-name h3 {
  margin: 0;
}

.boton-container-trac {
  display: flex;
  flex-direction: column; /* Esto los apila verticalmente */
  gap: 10px;
}

.btn-agregar-trac {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-agregar-trac img {
  width: 20px;
}
.btn-calificar {
  background-color: #f3db06;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


@media (max-width: 768px) {
  .product-selection {
    flex-direction: column;
    gap: 10px;
  }

  .arrow-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .product-selection img {
    max-width: 200px;
  }
}
