.registration-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem; /* Reducir el espacio entre las imágenes */
  padding: 1rem;
  background: linear-gradient(to bottom, #fef3c7, #fdba74);
}

.lm-cnt-one,
.lm-cnt-two {
  display: flex;
  align-items:center;
  height: 100vh;
}

.lm-cnt-one img,
.lm-cnt-two img {
  width: 20rem; /* Ajustar el tamaño de las imágenes */
  height: 30rem;
   /* Permitir que la altura se ajuste automáticamente */
}

.lm-cnt-two img {
  transform: scaleX(-1);
}

.registration-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  font-family: var(--font-tittles);
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.logo img {
  height: 5rem; /* Reducir el tamaño del logo */
  width: 5rem; /* Reducir el tamaño del logo */
}

h1 {
  font-size: 1.75rem; /* Reducir el tamaño del título */
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  color: #4b5563;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 0.5rem; /* Reducir el espacio entre los campos */
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.info-text {
  font-size: 0.875rem;
  color: #4b5563;
}

.maintain-password-btn {
  background-color: #fff7ed;
  color: #9a3412;
  border: 1px solid #fdba74;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.maintain-password-btn:hover {
  background-color: #fed7aa;
}

.submit-btn {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #ea580c;
}
