:root{
    --bg-color: #fff;
    --font-tittles: "Poppins", sans-serif;
    --font-text: "Playfair", serif;
    --font-color: rgba(0, 0, 0, 1);
    --primary-color: rgba(161, 58, 17, 1);
    --secondary-color: rgba(249, 206, 90, 1);
    --tertiary-color: rgba(251, 145, 83, 1);
    --background-color: rgba(255, 239, 239, 1);
    --text-color: #333;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

